{% extends 'layout.html' %}
{% load static %}
{% block content %}
<section class="bg-white pb-5">
      <div class="container-fluid px-0 pnb-4">
        <div class="row align-items-center">
          <div class="col-lg-12">
            <div class="post-thumnail"><img class="img-fluid w-100" src="{% static 'img/home-bg.jpg' %}" alt=""></div>
          </div>
          <div class="col-lg-6 mx-auto text-center">
            <ul class="list-inline">
              <li class="list-inline-item mr-3"><a class="category-link font-weight-normal" href="{% url 'category' obj.category %}">{{ obj.category }}</a></li>
              <li class="list-inline-item mx-3"><a class="text-uppercase meta-link font-weight-normal" href="#">{{ obj.author.first_name}} {{ obj.author.last_name}} </a></li>
              <li class="list-inline-item mx-3"><a class="text-uppercase meta-link font-weight-normal" href="#">{{ obj.created_date | date }}</a></li>
            </ul>
            <h1 class="mb-4"> <a class="reset-anchor" href="{% url 'details' obj.slug %}">{{ obj.title }}</a></h1>
            <p class="text-muted">{{ obj.snippet | safe }}</p><a class="btn btn-link p-0 read-more-btn" href="{%   url 'details' obj.slug %}"><span>Devamını oku</span><i class="fas fa-long-arrow-alt-right"></i></a>
          </div>
        </div>
      </div>
</section>
    <section class="pb-5">
       <div class="p-4 bg-light">
          <div class="row align-items-center p-lg-3">
            <div class="col-lg-6 mb-4 mb-lg-0">
              <h2 class="h3 mb-1">Bültenime abone olun!</h2>
              <p class="mb-0 text-small">En yeni ve en kaliteli içerikler için...</p>
            </div>
            <div class="col-lg-6">
              <form action="#">
                <div class="input-group">
                  <input class="form-control" type="search" placeholder="Email adresinizi giriniz" aria-label="email address" aria-describedby="button-addon2">
                  <div class="input-group-append ml-2">
                    <button class="btn btn-primary" id="button-addon2" type="submit">Abone Ol</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
</section>
    <section class="pb-5">
      <div class="container pb-4">
        <div class="row">
          <div class="col-lg-9 mb-5 mb-lg-0">
              {% for last in last_four_post %}
            <div class="row align-items-center mb-5">
              <div class="col-lg-6"><a class="d-block mb-4" href="{% url 'details' last.slug %}"><img class="img-fluid w-100" src="{% static 'img/post-img-3.jpg' %}" alt=""/></a>
              </div>
              <div class="col-lg-6">
                <ul class="list-inline">
                  <li class="list-inline-item mr-2"><a class="category-link font-weight-normal" href="{% url 'category' last.category %}">{{ last.category }}</a></li>
                  <li class="list-inline-item mx-2"><a class="text-uppercase meta-link font-weight-normal" href="#">{{ last.author.first_name}} {{ last.author.last_name}}</a></li>
                  <li class="list-inline-item mx-2"><a class="text-uppercase meta-link font-weight-normal" href="#">{{ last.created_date | date  }}</a></li>
                </ul>
                <h2 class="h3 mb-4"> <a class="d-block reset-anchor" href="{% url 'details' last.slug %}">{{ last.title }}</a></h2>
                <p class="text-muted">{{ last.snippet | safe }}</p><a class="btn btn-link p-0 read-more-btn" href="{% url 'details' last.slug %}"><span>Devamını oku</span><i class="fas fa-long-arrow-alt-right"></i></a>
              </div>
            </div>
              {% endfor %}
            <blockquote class="blockquote bg-dark text-white p-4 p-lg-5 text-center mb-5">
              <p class="h4 mb-4">Tasarım, insan yapımı bir yaratılışın temel ruhudur ve sonunda bir ürünün veya hizmetin ardışık dış katmanlarında kendini ifade eder.</p>
              <footer class="blockquote-footer">
                <cite class="text-white" title="Source Title">Steve Jobs</cite>
              </footer>
            </blockquote>
          </div>
          <!-- Blog sidebar-->
          {% load static %}
<!-- Blog sidebar-->
          <div class="col-lg-3">
            <!-- About category-->
            <div class="card rounded-0 border-0 bg-light mb-4 py-lg-4">
              <div class="card-body text-center">
                <h2 class="h3 mb-3">Hakkımda</h2><img class="rounded-circle mb-3" src="{% static 'img/kamet.jpeg'  %}" alt="..." width="100">
                <p class="text-small text-muted">Kamet Güler Back-End Developer</p>
                <ul class="list-inline small mb-0 text-dark">
                  <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-twitter"></i></a></li>
                  <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-instagram"></i></a></li>
                  <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-linkedin"></i></a></li>
                  <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-youtube"></i></a></li>
                </ul>
              </div>
            </div>
            <!-- Recent posts-->
            <div class="card rounded-0 border-0 mb-4">
              <div class="card-body p-0">
                <h2 class="h5 mb-3">Son Postlar</h2>
                  {% for recent in recently %}
                      <div class="media mb-3"><a class="d-block" href="{% url 'details' recent.slug %}">
                        <div class="media-body ml-3">
                            <h6> <a class="reset-anchor" href="{% url 'details' recent.slug %}">{{ recent.title }}</a></h6>
                            <p class="text-small text-muted line-height-sm mb-0">{{ recent.snippet | safe | truncatechars:35}}</p>
                        </div>
                      </div>
                  {% endfor %}
                </div>
            </div>
            <div class="card rounded-0 border-0 mb-4">
              <div class="card-body p-0"><a class="d-block" href="#"><img class="img-fluid" src="{% static 'img/banner.jpg' %}" alt=""></a></div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </section>
{% endblock %}